{% extends "orders/base.html" %}

{% block title %}Homepage{% endblock %}

{% block body %}

<ul class="list-group list-group-horizontal">
  <li class="list-group-item" data-table = "table1">Salads</li>
  <li class="list-group-item" data-table = "table2">Dinner Platters</li>
  <li class="list-group-item" data-table = "table3">Pastas</li>
  <li class="list-group-item" data-table = "table4">Pizzas</li>
  <li class="list-group-item" data-table = "table5">Subs</li>
</ul>

<table id='table1' class="table" style="display: none">
  <thead>
    <tr>
      <th colspan="2">Salads</th>
    </tr>
  </thead>
    {% for salad in salads %}
    <tr>
      <td>{{salad.name}}</td>
      <td>{{salad.price}}</td>
      </tr>
    {% endfor %}
</table>

<table id='table5' class="table" style="display: none">
  <thead>
    <tr>
      <th colspan="2">Subs</th>
    </tr>
  </thead>
{% for sub in subs %}
<tr>
  <td>{{sub.name}}</td>
  <td>{{sub.price}}</td>
<tr>
  {% endfor %}
</table >

<table id='table2' class="table" style="display: none">
  <thead>
    <tr>
      <th colspan="2">Platters</th>
    </tr>
  </thead>
    {% for platter in dp %}
    <tr>
      <td>{{platter.name}}</td>
      <td>{{platter.price}}</td>
    </tr>
    {% endfor %}
</table>

<table id='table3' class="table" style="display: none">
  <thead>
    <tr>
      <th colspan="2">Pastas</th>
    </tr>
  </thead>
    {% for pasta in pastas %}
    <tr>
      <td>{{pasta.name}}</td>
      <td>{{pasta.price}}</td>
    </tr>
    {% endfor %}
</table>

<table id='table4' class="table" style="display: none">
  <thead>
    <tr>
      <th colspan="2">Pizzas</th>
    </tr>
  </thead>
    {% for pizza in pizzas %}
    <tr>
      <td>{{pizza.name}}</td>
      <td>{{pizza.price}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
