{% extends "orders/base.html" %}

{% block title %}Homepage{% endblock %}

{% block navbar %}

<div class="collapse navbar-collapse" id="logout">
		<ul class="navbar-nav mr-auto">
				<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
						<a class="nav-link" id = "shopping_cart" href="#">Shopping Cart <span class="badge badge-secondary">0</span></a>
				</li>
</div>

{% endblock %}

{% block body %}

<ul class="list-group list-group-horizontal">
		<li class="list-group-item" data-table = "table1">Salad</li>
		<li class="list-group-item" data-table = "table2">Dinner Platter</li>
		<li class="list-group-item" data-table = "table3">Pasta</li>
		<li class="list-group-item" data-table = "table4">Pizza</li>
		<li class="list-group-item" data-table = "table5">Sub</li>
</ul>

<table id='table1' class="table" style="display: none">
		<thead>
				<tr>
						<th>Salad</th>
						<th>Price</th>
				</tr>
		</thead>
		{% for salad in salads %}
		<tr>
				<td>{{salad.name}}</td>
				<td><button data-toggle="modal" data-target="#Modal" data-name = "{{salad.name}}" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{salad.id}}">${{salad.price|floatformat:2}}</button></td>
		</tr>
		{% endfor %}
</table>

<table id='table5' class="table" style="display: none">
		<thead>
				<tr>
						<th>Sub</th>
						<th>Small</th>
						<th>Large</th>
				</tr>
		</thead>
		{% for sub in subs %}
		<tr>
				<td>{{sub.name}}</td>
				<td><button data-toggle="modal" data-target="#Modal" data-name = "{{sub.name}}" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{sub.id}}_small">${{sub.small_price|floatformat:2}}</button></td>
				<td><button data-toggle="modal" data-target="#Modal" data-name = "{{sub.name}}" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{sub.id}}_large">${{sub.large_price|floatformat:2}}</button></td>
				<tr>
						{% endfor %}
</table >

<table id='table2' class="table" style="display: none">
		<thead>
				<tr>
						<th>Platter</th>
						<th>Small</th>
						<th>Large</th>
				</tr>
		</thead>
		{% for platter in dp %}
		<tr>
				<td>{{platter.name}}</td>
				<td><button data-toggle="modal" data-target="#Modal" data-name = "{{platter.name}}" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{platter.id}}_small">${{platter.small_price|floatformat:2}}</button></td>
				<td><button data-toggle="modal" data-target="#Modal" data-name = "{{platter.name}}" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{platter.id}}_large">${{platter.large_price|floatformat:2}}</button></td>
		</tr>
		{% endfor %}
</table>

<table id='table3' class="table" style="display: none">
		<thead>
				<tr>
						<th>Pasta</th>
						<th>Price</th>
				</tr>
		</thead>
		{% for pasta in pastas %}
		<tr>
				<td>{{pasta.name}}</td>
				<td><button data-name = "{{pasta.name}}" data-url = "{% url 'modal_form' %}" data-toggle="modal" data-target="#Modal" type = "button" class = "btn btn-light" id = "{{pasta.id}}">${{pasta.price|floatformat:2}}</button></td>
		</tr>
		{% endfor %}
</table>

<table id='table4' class="table" style="display: none">
		<thead>
				<tr>
						<th>Pizza</th>
						<th>Small</th>
						<th>Large</th>
				</tr>
		</thead>
		<tbody>
				{% for pizza in pizzas %}
				<tr>
						<td>{{pizza.name}}</td>
						<td><button data-name = "{{pizza.name}}" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{pizza.id}}_small" data-toggle="modal" data-target="#Modal">${{pizza.small_price|floatformat:2}}</button></td>
						<td><button  data-name = "{{pizza.name}}" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{pizza.id}}_large" data-toggle="modal" data-target="#Modal">${{pizza.large_price|floatformat:2}}</button></td>
				</tr>
				{% endfor %}
				<tr>
						<th>Sicilian Pizzas</th>
						<th>Small</th>
						<th>Large</th>
				</tr>
				{% for pizza in sicilian %}
				<tr>
						<td>{{pizza.name}}</td>
						<td><button data-name = "{{pizza.name}}: Sicilian" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{pizza.id}}_small" data-toggle="modal" data-target="#Modal">${{pizza.small_price|floatformat:2}}</button></td>
						<td><button data-name = "{{pizza.name}}: Sicilian" data-url = "{% url 'modal_form' %}" type = "button" class = "btn btn-light" id = "{{pizza.id}}_large" data-toggle="modal" data-target="#Modal">${{pizza.large_price|floatformat:2}}</button></td>
				</tr>
				{% endfor %}
		</tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		</div>
</div>
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'orders/home.js' %}"></script>
{% endblock %}
